nav {
  ul {
    > li > a {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.15rem 1.3rem;

      color: var(--color-text-primary);
      background: linear-gradient(
        to right,
        var(--color-bg-glow),
        var(--color-bg-dark)
      );

      border-top: 2px solid var(--color-border-dark);

      transition: all 0.25s ease;

      &:hover {
        background: linear-gradient(
          to right,
          var(--color-red-muted),
          var(--color-bg-deep)
        );
        border-top: 2px solid var(--color-border-glow);
        color: var(--color-red-bright);
      }

      &::before {
        display: none;
      }

      &::after {
        content: "\2193";
        font-size: 1.5rem;
        line-height: 1;
        color: var(--color-red-primary);
      }
    }
  }
}
